
    body{
        background-color: aqua;
    }

    h1{
        text-align: center;
    }
    
    #count{
        margin-left: 40%;
    
    }

    p{
        text-align: center;
        font-size: 35px;
        font-weight: 900 ;
        
    }
    
    #grafico{
        margin-left: 40%;
    }
    

@media screen and (min-width:769px) {
    
    h1{
        text-align:left;
    }
    
    p{
        text-align: left;
    }

    #count{
        margin-left: 0;
    
    }
    
    #grafico{
        margin-left: 0;
    }
    
    
}